.signup-main,.login-main {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.signup-form,.login-form {
    padding: 20px;
    font-size: 20px;
    width: 100%;
}

.logout-img img{
    width: 350px;
    height: 320px;
    margin: 10px;
    border-radius: 50px;
}

.card-body{
    margin: 15px;
}



@media (max-width: 768px) {
    .signup-logo,.login-logo {
        display: none;
    }

    .logout-img img{
        width: 300px;
        height: 280px;
        margin-left: 15vh;
    }
}

@media (max-width: 486px) {
    .signup-logo,.login-logo {
        display: none;
    }

    .logout-img img{
        width: 300px;
        height: 280px;
        margin-left: 4vh;
    }
}